<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings> 
   
    <!--监控执行 间隔时间单位：秒-->
    <add key="MonitorInterval" value="60"/>
    <!--任务执行器的路径-->
    <add key="ProgramTaskActuatorDevice" value="D:\HRTemp\两网融合iTask北京台\Code\ProgramTaskDownload\WinProgramTaskActuatorDevice\bin\x86\Release\WinProgramTaskActuatorDevice.exe"/>
    <!--任务下载器的路径-->
    <add key="ProgramTaskDownloadDevice" value="D:\HRTemp\两网融合iTask北京台\Code\ProgramTaskDownload\WinProgramTaskDownloadDevice\bin\Release\WinProgramTaskDownloadDevice.exe"/>
    <!--任务下载器的路径-->
    <add key="GateWayIP" value="172.16.200.222"/> 
  </appSettings>
</configuration>