<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WinProgramTaskActuatorDevice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--默认数据库连接字符串 -->
    <add key="primaryConnection" value="Data Source=.;Initial Catalog=ProgramTasksDB;User ID=sa;Password=RBCjszx2013;pooling = false" />
    <!--任务请求URL-->
    <add key="TaskDataRequestURL" value="https://ex-api-cloud-test.tingtingfm.com"/>
    <!--任务请求 间隔时间单位：秒-->
    <add key="TaskActuatorInterval" value="2"/>
     <!--任务超时时间 间隔时间单位：S/MB（秒每兆）-->
    <add key="TaskExecuteTime" value="60"/>
     <!--任务超时时间 间隔时间阙值）-->
    <add key="TaskExecuteOutThreshold" value="10"/>
    <!--此程序的唯一标识-->
    <add key="ProgramTaskActuatorDeviceID" value="ProgramTaskActuatorDevice20121228"/>
    <!--网闸IP-->
    <add key="GateWayIP" value="172.16.200.222"/>
    
    <add key="RightManagerURL" value="http://172.16.200.222:8080/rightmanagerwebservice/RightManager.asmx" />
    <add key="RightManagerURL2" value="http://172.16.200.222:8080/rightmanagerwebservice/RightManager.asmx" />
    
    <add key="ResourceManagerURL" value="http://172.16.200.222:8080/ResourceManagerWebService/ResourceManager.asmx" />
    <add key="ResourceManagerURL2" value="http://172.16.200.222:8080/ResourceManagerWebService/ResourceManager.asmx" />
    <!--http://localhost/XStudioWebService/Service.asmx-->
    <add key="XStudioWebServiceURL" value="http://172.16.200.222:1080/XStudioWebService/Service.asmx" />
    <add key="XStudioWebServiceURL2" value="http://172.16.200.222:1080/XStudioWebService/Service.asmx" />
    
    
    
    <add key="SystemKey4FirstCheck" value="xstudio" />
    <!--网闸外：2-->
    <add key="Zone" value="2" />
   <add key="UserSpaceAlarmValue" value="10" /> 
    <!--素材库名称-->
    <add key="ProgramLibName" value="节目制作中心素材库" />
    <!--类别的最大空间-->
    <add key="MaxSpaceHour" value="20" />

    <!--音频质检参数 -->
    
    <!--是否检测静音，0为否，1为是-->
    <add key="IsCheckMutedbfs" value="1" />
    <!--静音值(dBFS)-->
    <add key="Mutedbfs" value="-40" />
    <!--静音长度（秒）-->
    <add key="MuteDuration" value="4" />
    <!--是否反相检测，0为否，1为是-->
    <add key="IsCheckReverse" value="1" />
    <!--相位监测阙值-->
    <add key="Reverse" value="0.699999988079071" />
    <!--检查时间长度(秒)-->
    <add key="ReversDuration" value="30" />
    <!--是否过载检测，0为否，1为是-->
    <add key="IsCheckOverloaddbfs" value="1" />
    <!--过载值(dbFS)-->
    <add key="Overloaddbfs" value="-3" />
    <!--左右电平差检查，0为否，1为是-->
    <add key="IsCheckSLevelThreshold_Limit" value="0" /> 
    <!--左右声道电平差(dBFS)-->
    <add key="SLevelThreshold_Limit" value="20" />
    <!--长度(秒)-->
    <add key=" NLRLevelTime_Limit" value="5" /> 

  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <WinProgramTaskActuatorDevice.Properties.Settings>
      <setting name="WinProgramTaskActuatorDevice_RightManagerWS_RightManager"
        serializeAs="String">
        <value>http://localhost/RightManagerWebService/RightManager.asmx</value>
      </setting>
      <setting name="WinProgramTaskActuatorDevice_ResourceManagerWS_ResourceManager"
        serializeAs="String">
        <value>http://localhost/ResourceManagerWebService/ResourceManager.asmx</value>
      </setting>
      <setting name="WinProgramTaskActuatorDevice_XStudioWebService_Service"
        serializeAs="String">
        <value>http://localhost/XStudioWebService/Service.asmx</value>
      </setting>
    </WinProgramTaskActuatorDevice.Properties.Settings>
  </applicationSettings>
</configuration>