<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--默认数据库连接字符串 -->
    <add key="primaryConnection" value="Data Source=172.16.1.216;Initial Catalog=ProgramTasksDB;User ID=sa;Password=RBCjszx2013;pooling = false" />
    <!--任务请求URL1-->
    <add key="TaskDataRequestURL" value="https://ex-api-cloud-test.tingtingfm.com"/> 
    <!--任务请求 间隔时间单位：秒-->
    <add key="TaskRequestInterval" value="1"/>
    <!--此程序的唯一标识-->
    <add key="ProgramTaskDownloadDeviceID" value="ProgramTaskDownloadDevice1"/> 
    <!--任务超时时间 间隔时间单位：处理1MB用多少秒 -->
    <add key="TaskExecuteTime" value="60"/>
    <!--任务超时时间 间隔时间阙值）-->
    <add key="TaskExecuteOutThreshold" value="10"/>
  </appSettings>
</configuration>